- @no_container = true
- page_title "运行环境终端", @environment.name
= render "projects/pipelines/head"

- content_for :page_specific_javascripts do
  = stylesheet_link_tag "xterm/xterm"
  = page_specific_javascript_tag("terminal/terminal_bundle.js")

%div{class: container_class}
  .top-area
    .row
      .col-sm-6
        %h3.page-title
          运行环境终端
          = @environment.name

      .col-sm-6
        .nav-controls
          = render 'projects/deployments/actions', deployment: @environment.last_deployment

.terminal-container{class: container_class}
  #terminal{data:{project_path: "#{terminal_namespace_project_environment_path(@project.namespace, @project, @environment)}.ws"}}
