- @no_container = true
- page_title "页面", "Wiki"

%div{ class: container_class }
  .wiki-page-header

    .nav-text
      %h2.wiki-page-title
        Wiki Pages

    .nav-controls
      = link_to namespace_project_wikis_git_access_path(@project.namespace, @project), class: 'btn' do
        = icon('cloud-download')
        Clone repository

  %ul.content-list
    - @wiki_pages.each do |wiki_page|
      %li
        = link_to wiki_page.title, namespace_project_wiki_path(@project.namespace, @project, wiki_page)
        %small (#{wiki_page.format})
        .pull-right
          %small 最后编辑时间 #{time_ago_with_tooltip(wiki_page.commit.authored_date)}
  = paginate @wiki_pages, theme: 'gitlab'
