- if @wiki_home.present?
  %div{ class: container_class }
    .wiki-holder.prepend-top-default.append-bottom-default
      .wiki
        = preserve do
          = render_wiki_content(@wiki_home)
- else
  - can_create_wiki = can?(current_user, :create_wiki, @project)
  .project-home-empty{ class: [('row-content-block' if can_create_wiki), ('content-block' unless can_create_wiki)] }
    %div.text-center{ class: container_class }
      %h4
        This project does not have a wiki homepage yet
      - if can_create_wiki
        %p
          加一个包含有您项目信息的维基主页
        %p
          建议
          = link_to "增加主页", namespace_project_wiki_path(@project.namespace, @project, :home)
          页面到项目的维基版本库，GitLab 将会载入其内容显示在这里，以替换掉此信息。
