- page_title @snippet.title, "代码片段"

= render 'shared/snippets/header'

.project-snippets
  %article.file-holder.snippet-file-content
    .file-title
      = blob_icon 0, @snippet.file_name
      = @snippet.file_name
      .file-actions
        = clipboard_button(clipboard_target: ".blob-content[data-blob-id='#{@snippet.id}']", class: "btn btn-sm")
        = link_to '原文件', raw_namespace_project_snippet_path(@project.namespace, @project, @snippet), class: "btn btn-sm", target: "_blank"
    = render 'shared/snippets/blob'

  .row-content-block.top-block.content-component-block
    = render 'award_emoji/awards_block', awardable: @snippet, inline: true

  %div#notes= render "projects/notes/notes_with_form"
