= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'new_user gl-show-field-errors', 'aria-live' => 'assertive'}) do |f|
  %div.form-group
    = f.label "用户名或邮箱", for: :login
    = f.text_field :login, class: "form-control top", autofocus: "autofocus", autocapitalize: "off", autocorrect: "off", required: true, title: "必填项。"
  %div.form-group
    = f.label "密码", for: :password
    = f.password_field :password, class: "form-control bottom", required: true, title: "必填项。"
  - if devise_mapping.rememberable?
    .remember-me.checkbox
      %label{for: "user_remember_me"}
        = f.check_box :remember_me
        %span 记住我
      .pull-right.forgot-password
        = link_to "忘记密码？", new_password_path(resource_name)
  %div.submit-container.move-submit-down
    = f.submit "登录", class: "btn btn-save"
