%ul.content-list.pipelines
  - if pipelines.blank?
    %li
      .nothing-here-block 没有流水线可显示
  - else
    .table-holder
      %table.table.ci-table.js-pipeline-table
        %thead
          %th.pipeline-status 状态
          %th.pipeline-info 流水线
          %th.pipeline-commit 提交
          %th.pipeline-stages 步骤
          %th.pipeline-date
          %th.pipeline-actions
        = render pipelines, commit_sha: true, stage: true, allow_retry: true, show_commit: false
