%h3.page-title
  新合并请求
%p.slead
  - source_title, target_title = format_mr_branch_names(@merge_request)
  从
  %strong.label-branch #{source_title}
  %span 合并到
  %strong.label-branch #{target_title}

  %span.pull-right
    = link_to '改变分支', mr_change_branches_path(@merge_request)
%hr
= form_for [@project.namespace.becomes(Namespace), @project, @merge_request], html: { class: 'merge-request-form form-horizontal common-note-form js-requires-input' } do |f|
  = render 'shared/issuable/form', f: f, issuable: @merge_request
  = f.hidden_field :source_project_id
  = f.hidden_field :source_branch
  = f.hidden_field :target_project_id
  = f.hidden_field :target_branch

.mr-compare.merge-request
  - if @commits.empty?
    .commits-empty
      %h4
        There are no commits yet.
      = custom_icon ('illustration_no_commits')
  - else
    %ul.merge-request-tabs.nav-links.no-top.no-bottom
      %li.commits-tab.active
        = link_to url_for(params), data: {target: 'div#commits', action: 'new', toggle: 'tab'} do
          提交
          %span.badge= @commits.size
      - if @pipelines.any?
        %li.builds-tab
          = link_to url_for(params), data: {target: 'div#pipelines', action: 'pipelines', toggle: 'tab'} do
            流水线
            %span.badge= @pipelines.size
      - if @pipeline.present?
        %li.builds-tab
          = link_to url_for(params), data: {target: 'div#builds', action: 'builds', toggle: 'tab'} do
            构建
            %span.badge= @statuses_count
      %li.diffs-tab
        = link_to url_for(params.merge(action: 'new_diffs')), data: {target: 'div#diffs', action: 'new/diffs', toggle: 'tab'} do
          变更
          %span.badge= @merge_request.diff_size

    .tab-content
      #commits.commits.tab-pane.active
        = render "projects/merge_requests/show/commits"
      #diffs.diffs.tab-pane
        - # This tab is always loaded via AJAX
      - if @pipeline.present?
        #builds.builds.tab-pane
          = render "projects/merge_requests/show/builds"
      - if @pipelines.any?
        #pipelines.pipelines.tab-pane
          = render "projects/merge_requests/show/pipelines"

  .mr-loading-status
    = spinner

:javascript
  $('.assign-to-me-link').on('click', function(e){
    $('#merge_request_assignee_id').val("#{current_user.id}").trigger("change");
    e.preventDefault();
  });
:javascript
  var merge_request = new MergeRequest({
    action: "#{(@show_changes_tab ? 'new/diffs' : 'new')}",
    buildsLoaded: "#{@pipeline.present? ? 'true' : 'false'}"
  });
