- @no_container = true
- page_title "流水线"
= render "projects/pipelines/head"

%div{ class: container_class }
  .top-area
    %ul.nav-links
      %li{class: ('active' if @scope.nil?)}>
        = link_to project_pipelines_path(@project) do
          全部
          %span.badge.js-totalbuilds-count
            = number_with_delimiter(@pipelines_count)

      %li{class: ('active' if @scope == 'running')}>
        = link_to project_pipelines_path(@project, scope: :running) do
          运行中
          %span.badge.js-running-count
            = number_with_delimiter(@running_or_pending_count)

      %li{class: ('active' if @scope == 'branches')}>
        = link_to project_pipelines_path(@project, scope: :branches) do
          分支

      %li{class: ('active' if @scope == 'tags')}>
        = link_to project_pipelines_path(@project, scope: :tags) do
          标签

    .nav-controls
      - if can? current_user, :create_pipeline, @project
        = link_to new_namespace_project_pipeline_path(@project.namespace, @project), class: 'btn btn-create' do
          运行流水线

        - unless @repository.gitlab_ci_yml
          = link_to '开始使用流水线', help_page_path('ci/quick_start/README'), class: 'btn btn-info'

        = link_to ci_lint_path, class: 'btn btn-default' do
          %span CI Lint

  %div.content-list.pipelines
    - if @pipelines.blank?
      %div
        .nothing-here-block 没有流水线
    - else
      .table-holder
        %table.table.ci-table.js-pipeline-table
          %thead
            %th.pipeline-status 状态
            %th.pipeline-info 流水线
            %th.pipeline-commit 提交
            %th.pipeline-stages 步骤
            %th.pipeline-date
            %th.pipeline-actions.hidden-xs
          = render @pipelines, commit_sha: true, stage: true, allow_retry: true

      = paginate @pipelines, theme: 'gitlab'
